
html,
body {
	height: 100%;
	font-family: "Nunito Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-wfont-smoothing: antialiased;
}

/*---------------------
  ВЕС СТРАНИЦА
-----------------------*/

.section-title h2 {
	color: #ffffff;
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 18px;
	text-transform: uppercase;
}

.section-title p {
	color: #ffffff;
	margin-bottom: 0;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.spad-2 {
	padding-top: 50px;
	padding-bottom: 70px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}


/*---------------------
  ДЛЯ МЕНЮ
-----------------------*/

.header-section {
	padding-top: 40px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 99;
	padding-left: 60px;
	padding-right: 60px;
}

.header-section.header-normal {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: #151515;
	padding-top: 0;
}

.header-section.header-normal .logo {
	padding: 40px 0;
}

.header-section.header-normal .nav-menu .mainmenu ul li a {
	padding: 40px 0;
}

.header-section.header-normal .nav-menu .mainmenu ul li a:after {
	bottom: 35px;
}

.header-section.header-normal .nav-menu .mainmenu ul li:hover .dropdown {
	top: 107px;
}

.header-section.header-normal .nav-menu .mainmenu ul li .dropdown {
	top: 128px;
}

.header-section.header-normal .nav-menu .mainmenu ul li .dropdown li a {
	padding: 14px 22px;
}

.header-section.header-normal .top-social {
	padding: 39px 0;
}

.logo {
	float: left;
}

.logo a {
	display: inline-block;
}

.nav-menu {
	text-align: center;
}

.nav-menu .mainmenu {
	display: inline-block;
}

.nav-menu .mainmenu ul li {
	display: inline-block;
	list-style: none;
	margin-right: 45px;
	position: relative;
}

.nav-menu .mainmenu ul li:last-child {
	margin-right: 0;
}

.nav-menu .mainmenu ul li.active a {
	color: #e4381C;
}

.nav-menu .mainmenu ul li.active a:after {
	opacity: 1;
}

.nav-menu .mainmenu ul li a {
	color: #ffffff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 28px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	display: block;
	font-family: "Oswald", sans-serif;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-menu .mainmenu ul li a:after {
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 100%;
	height: 2px;
	background: #e4381C;
	content: "";
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-menu .mainmenu ul li:hover .dropdown {
	opacity: 1;
	visibility: visible;
	top: 40px;
}

.nav-menu .mainmenu ul li:hover>a {
	color: #e4381C;
}

.nav-menu .mainmenu ul li:hover>a:after {
	opacity: 1;
}

.nav-menu .mainmenu ul li .dropdown {
	position: absolute;
	left: 0;
	top: 70px;
	width: 180px;
	background: #e4381C;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 99;
}

.nav-menu .mainmenu ul li .dropdown li {
	display: block;
	margin-right: 0;
}

.nav-menu .mainmenu ul li .dropdown li a {
	text-align: left;
	text-transform: capitalize;
	padding: 10px 20px;
	color: #ffffff;
}

.nav-menu .mainmenu ul li .dropdown li a:hover {
	color: #151515;
}

.nav-menu .mainmenu ul li .dropdown li a:hover:after {
	display: none;
}

.top-social {
	float: right;
}

.top-social a {
	display: inline-block;
	font-size: 20px;
	color: #ffffff;
	margin-left: 20px;
}

.slicknav_menu {
	display: none;
}

/*---------------------
  ГЛАВНОЕ ГОЛОВА
-----------------------*/

.hero-items .owl-item.active .single-hero-item .hero-text h2,
.hero-items .owl-item.active .single-hero-item .hero-text h1,
.hero-items .owl-item.active .single-hero-item .hero-text .primary-btn {
	top: 0;
	opacity: 1;
}

.hero-items .owl-item.active .single-hero-item .hero-text h2 {
	-webkit-transition: all 0.2s ease 0.2s;
	-o-transition: all 0.2s ease 0.2s;
	transition: all 0.2s ease 0.2s;
}

.hero-items .owl-item.active .single-hero-item .hero-text h1 {
	-webkit-transition: all 0.4s ease 0.4s;
	-o-transition: all 0.4s ease 0.4s;
	transition: all 0.4s ease 0.4s;
}

.hero-items .owl-item.active .single-hero-item .hero-text .primary-btn {
	-webkit-transition: all 0.6s ease 0.6s;
	-o-transition: all 0.6s ease 0.6s;
	transition: all 0.6s ease 0.6s;
}

.hero-items .owl-nav button[type=button] {
	position: absolute;
	left: 75px;
	top: 50%;
	-webkit-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
	line-height: 30px;
	font-size: 60px;
	color: #ffffff;
}

.hero-items .owl-nav button[type=button].owl-next {
	left: auto;
	right: 75px;
}

.hero-items .owl-dots {
	position: absolute;
	left: 0;
	bottom: 23px;
	width: 100%;
	text-align: center;
}

.hero-items .owl-dots button.owl-dot {
	height: 14px;
	width: 14px;
	background: #ffffff;
	border-radius: 50%;
	margin-right: 15px;
	position: relative;
}

.hero-items .owl-dots button.owl-dot.active:after {
	opacity: 1;
}

.hero-items .owl-dots button.owl-dot:after {
	position: absolute;
	left: -3px;
	top: -3px;
	height: 20px;
	width: 20px;
	border: 1px solid #ffffff;
	content: "";
	border-radius: 50%;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.hero-items .owl-dots button.owl-dot:last-child {
	margin-right: 0;
}

.single-hero-item {
	height: 950px;
	padding-top: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.single-hero-item .hero-text {
	text-align: center;
}

.single-hero-item .hero-text h2 {
	color: #ffffff;
	text-transform: uppercase;
	font-family: "Nunito Sans", sans-serif;
	font-size: 60px;
	margin-bottom: 4px;
	position: relative;
	top: 50px;
	opacity: 0;
}

.single-hero-item .hero-text h1 {
	color: #ffffff;
	font-size: 90px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 46px;
	position: relative;
	top: 50px;
	opacity: 0;
}

.single-hero-item .hero-text .primary-btn {
	position: relative;
	top: 50px;
	opacity: 0;
}

.single-hero-item .hero-text .primary-btn:hover:after {
	opacity: 1;
}

/*---------------------
  ДЛЯ РАСПИСАНИЕ
-----------------------*/

.classtime-section {
	background: #151515;
	padding-top: 90px;
}

.classtime-section .section-title {
	margin-bottom: 48px;
}

.timetable-controls {
	text-align: center;
	margin-bottom: 40px;
}

.timetable-controls ul li {
	list-style: none;
	font-size: 16px;
	font-weight: 600;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	display: inline-block;
	margin-right: 80px;
	cursor: pointer;
	position: relative;
}

.timetable-controls ul li.active {
	color: #e4381C;
}

.timetable-controls ul li.active:after {
	opacity: 1;
}

.timetable-controls ul li:after {
	position: absolute;
	left: 0;
	bottom: -7px;
	width: 100%;
	height: 2px;
	background: #e4381C;
	content: "";
	opacity: 0;
}

.timetable-controls ul li:last-child {
	margin-right: 0;
}

.classtime-table .ts-item {
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.classtime-table.filtering .ts-item {
	opacity: 0;
}

.classtime-table.filtering .ts-item.show {
	opacity: 1;
}

.classtime-table table {
	width: 100%;
	border: 1px solid #1f1f1f;
	background: #212121;
	text-align: center;
}

.classtime-table table thead tr th {
	font-size: 16px;
	color: #ffffff;
	font-weight: 500;
	text-transform: uppercase;
	font-family: "Oswald", sans-serif;
	padding: 25px 5px;
}

.classtime-table table tbody {
	border-top: 1px solid #171717;
}

.classtime-table table tbody tr td {
	text-align: center;
	border-right: 1px solid #171717;
	border-bottom: 1px solid #171717;
	width: 146px;
	padding: 26px 10px 28px;
	position: relative;
	z-index: 1;
}

.classtime-table table tbody tr td:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: -webkit-gradient(linear, left top, right top, from(#e16521), to(#e4381C));
	background: -o-linear-gradient(left, #e16521, #e4381C);
	background: linear-gradient(to right, #e16521, #e4381C);
	content: "";
	opacity: 0;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.classtime-table table tbody tr td.hover-bg:hover:after {
	opacity: 1;
}

.classtime-table table tbody tr td.hover-bg:hover h6 {
	color: #ffffff;
}

.classtime-table table tbody tr td.workout-time {
	font-size: 16px;
	color: #ffffff;
	font-weight: 500;
	font-family: "Oswald", sans-serif;
}

.classtime-table table tbody tr td span {
	font-size: 16px;
	color: #ffffff;
	display: block;
	margin-bottom: 7px;
}

.classtime-table table tbody tr td h6 {
	color: #e4381C;
	font-weight: 500;
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

/*---------------------
  ДЛЯ ТАРИФЫ
-----------------------*/

.price-section {
	padding-top: 90px;
	padding-bottom: 70px;
}

.price-section .section-title {
	text-align: center;
	margin-bottom: 36px;
}

.price-section .section-title p {
	color: #ffffff;
}

.price-section .toggle-option {
	text-align: center;
	margin-bottom: 50px;
}

.price-section .toggle-option li {
	list-style: none;
	display: inline-block;
	font-size: 16px;
	font-family: "Oswald", sans-serif;
	color: #ffffff;
	letter-spacing: 1px;
	margin-right: 10px;
}

.price-section .toggle-option li:last-child {
	margin-right: 0;
}

.price-section .toggle-option li .switch {
	position: relative;
	display: inline-block;
	width: 70px;
	height: 30px;
	margin-bottom: 0;
}

.price-section .toggle-option li .switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.price-section .toggle-option li .switch .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 2px;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.price-section .toggle-option li .switch .slider::before {
	position: absolute;
	content: "";
	height: 30px;
	width: 35px;
	right: 0;
	bottom: 0;
	background-color: white;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	border-radius: 2px;
}

.price-section .toggle-option li .switch input:checked+.slider:before {
	-webkit-transform: translateX(-35px);
	-ms-transform: translateX(-35px);
	transform: translateX(-35px);
}

.single-price-plan {
	background: #ffffff;
	text-align: center;
	padding: 45px 0 50px;
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
}

.single-price-plan h4 {
	color: #272727;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 34px;
}

.single-price-plan .price-plan {
	margin-bottom: 35px;
}

.single-price-plan .price-plan h2 {
	color: #272727;
	font-size: 48px;
	font-weight: 700;
	position: relative;
	padding-left: 18px;
	margin-bottom: 10px;
	display: inline-block;
}

.single-price-plan .price-plan h2 span {
	color: #272727;
	font-size: 18px;
	font-weight: 700;
	position: absolute;
	left: 0;
	top: 9px;
}

.single-price-plan .price-plan p {
	font-size: 16px;
	line-height: 20px;
	color: #272727;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.single-price-plan ul {
	margin-bottom: 35px;
}

.single-price-plan ul li {
	list-style: none;
	font-size: 16px;
	font-weight: 600;
	color: #272727;
	line-height: 42px;
}

.single-price-plan .primary-btn.price-btn {
	background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #e16521), color-stop(0%, #e4381C)), -webkit-gradient(linear, left top, right top, color-stop(100%, #e4381C), color-stop(0%, #e16521));
	background-image: -o-linear-gradient(left, #e16521 100%, #e4381C 0%), -o-linear-gradient(left, #e4381C 100%, #e16521 0%);
	background-image: linear-gradient(to right, #e16521 100%, #e4381C 0%), linear-gradient(to right, #e4381C 100%, #e16521 0%);
	color: #e4381C;
}

.single-price-plan .primary-btn.price-btn:hover {
	color: #ffffff;
}

.single-price-plan .primary-btn.price-btn:hover:after {
	opacity: 1;
}

.single-price-plan .tic-text {
	width: 160px;
	height: 40px;
	background: #e4381C;
	position: absolute;
	right: -67px;
	top: -5px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.single-price-plan .tic-text i {
	position: absolute;
	left: 69px;
	top: 15px;
	color: #ffffff;
}

/*---------------------
  НАШ БЛОК
-----------------------*/

.blog-section {
	background: #151515;
	padding-top: 90px;
	padding-bottom: 66px;
}

.blog-section .section-title {
	margin-bottom: 55px;
}

.blog-item {
	position: relative;
	margin-bottom: 30px;
}

.blog-item.large-item {
	height: 420px;
}

.blog-item.large-item.xl-large {
	height: 440px;
}

.blog-item.large-item.xls-large {
	height: 700px;
}

.blog-item.small-item {
	height: 260px;
}



/*---------------------
  ДЛЯ НИЗ ИНСТАГРАМ
  
-----------------------*/

.footer-section {
	background: #151515;
	padding-top: 72px;
}


.footer-logo-item .f-logo {
	margin-bottom: 40px;
}


.footer-logo-item p {
	color: #afb4bf;
	margin-bottom: 32px;
}

.footer-logo-item .social-links h6 {
	color: #ffffff;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.footer-logo-item .social-links a {
	color: #ffffff;
	display: inline-block;
	font-size: 14px;
	margin-right: 32px;
}

.footer-widget {
	margin-bottom: 30px;
}

.footer-widget h5 {
	font-size: 20px;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.footer-widget .footer-info li {
	list-style: none;
	font-size: 16px;
	color: #afb4bf;
	position: relative;
	padding-left: 35px;
	margin-bottom: 20px;
}

.footer-widget .footer-info li i {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 24px;
	color: #e4381C;
}